<div class="container mt-5">
  <div style="text-align: center">
    <h1>Find your match</h1>
    @if (isLoggedIn()) {
    <p class="lead">Start browsing to find your perfect match!</p>
    }@else {
    <p class="lead">
      Come on in to view your matches.. all you need to do is sign up!
    </p>
    }
    <div class="text-center">
      @if (isLoggedIn()) {
      <button class="btn btn-primary btn-lg me-2" routerLink="/members">
        View Members
      </button>
      }@else {
      <button class="btn btn-primary btn-lg me-2" routerLink="/register">
        Register
      </button>
      }
      <a class="btn btn-info btn-lg me-2" routerLink="/learn-more"
        >Learn More</a
      >
    </div>
  </div>
</div>
