.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}
.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

/* Styling for the dropdown */
.dropdown-menu-show {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  width: 200px;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
